/* Boilerplate Module Styling */

a {
  color: inherit;
  display: block;
  text-decoration: none;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 400;
  margin: 0 !important;
  padding: 0;
  background-color: #FFFFFF;
}

.button {
  padding: 16px;
}

.btn-ghost {
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  padding: 14px 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-ghost-small {
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  padding: 8px 12px;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-solid {
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  padding: 14px 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-solid-small {
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  padding: 8px 12px;
  text-decoration: none;
  text-transform: uppercase;
}

.contents {
  width: 100%;
}

.disclaimerDark {
  color: #C2C2C2;
  font-size:10px!important;
  letter-spacing: 0.05rem;
  line-height: 1.1rem;
}

.disclaimerLight {
  color: #212121;
  font-size:10px!important;
  letter-spacing: 0.05rem;
  line-height: 1.1rem;
}

div[style*="margin: 16px 0"] {
  margin: 0!important;
}

.full {
  padding: 16px 0;
}

.full-padded-image img {
  width: 100%;
  max-width: 608px;
  height: auto;
}

.full-width-image img {
  height: auto;
  max-width: 640px;
  width: 100%;
}

.h1 {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 32px !important;
  font-weight: 900;
  line-height: 2.3rem;
  Margin-bottom: 32px;
  Margin-top: 32px;
}

.h2 {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  Margin-bottom: 24px;
}

.h3 {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  Margin-bottom: 8px;
}

.heroAlt {
  background-color: inherit;
  font-size:64px;
  font-weight:900;
  text-align:center;
  text-transform:uppercase;
}

img {
  background-color: #006554;
  border: 0;
  color: #FAFAFA;
  display: block;
  font-size: 14px;
  height: auto;
  Margin: 0 auto 0 auto;
}

.inner {
  padding: 0 16px;
}

/* Free Shipping layout */

.left-sidebar {
  font-size: 0;
  padding: 32px 0;
  text-align: center;
}

.left-sidebar .column {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}

.left-sidebar .left {
  max-width: 100px;
}

.left-sidebar .right {
  max-width: 500px;
}

.left-sidebar img {
  width: 100%;
  max-width: 100px;
  height: auto;
}

.left-sidebar .contents {
  font-size: 14px;
  text-align: center;
}

/* One column layout */

.one-column .contents {
  padding: 0;
  text-align: center;
  vertical-align: top;
}

.one-column img {
  height: auto;
  width: 75%;
}

.one-column p {
  font-size: 14px;
  Margin-bottom: 14px;
  Margin-top: 14px;
}

/* End One column layout */

.outer {
  Margin: 0 auto;
  width: 100%;
  max-width: 640px;
}

p {
  color: #212121;
  line-height: 1.2rem;
  Margin: 0;
  padding: 0 16px;
}

.preheader {
  color: #484848;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 10px;
  line-height: 1rem;
  Margin-bottom: 0!important;
  padding:0;
}

/* Right sidebar layout */

.right-sidebar {
  text-align: center;
  font-size: 0;
}

.right-sidebar .column {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}

.right-sidebar .left {
  max-width: 100px;
}

.right-sidebar .right {
  max-width: 500px;
}

.right-sidebar img {
  width: 100%;
  max-width: 80px;
  height: auto;
}

.right-sidebar .contents {
  font-size: 14px;
  text-align: center;
}

.spacer {
  font-size: 0px;
  padding:16px 0 0 0;
}

table {
  border-spacing: 0;
  font-family: sans-serif;
  color: #333333;
}

td {
  padding: 0;
}

/*Two column layout*/

.two-column {
  padding: 16px 0;
  text-align: center;
  font-size: 0;
}

.two-column .column {
  width: 100%;
  max-width: 320px;
  display: inline-block;
  vertical-align: top;
}

.two-column .column-mid {
  width: 100%;
  max-width: 320px;
  display: inline-block;
  vertical-align: middle;
}

.two-column .contents {
  font-size: 14px;
  text-align: center;
}

.two-column img {
  width: 100%;
  max-width: 320px;
  height: auto;
}

.two-column .text {
  padding-top: 16px;
}

/*Three column layout*/

.three-column {
  padding: 24px 0;
  text-align: center;
  font-size: 0;
}

.three-column .column {
  display: inline-block;
  max-width: 212px;
  vertical-align: top;
  width: 100%;
}

.three-column .contents {
  font-size: 14px;
  text-align: center;
}

.three-column img {
  width: 100%;
  max-width: 180px;
  height: auto;
}

.three-column .text {
  padding-top: 16px;
}

.wrapper {
  background-color: #FFFFFF;
  table-layout: fixed;
  width: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

.webkit {
  max-width: 640px;
  margin: 0 auto;
}

/* Media Queries */

@media only screen and (max-width: 400px) {
  .two-column .column, .three-column .column {
    max-width: 100% !important;
  }
  .two-column img {
    max-width: 100% !important;
  }
  .three-column img {
    max-width: 50% !important;
  }
}

@media only screen and (min-width: 401px) and (max-width: 640px) {
  .three-column .column {
    max-width: 33% !important;;
  }
  .two-column .column {
    max-width: 50% !important;
  }
}
