/* Brand Font Overrides */

.h1, .h2, .h3 {
  font-family: 'DINPro-Black', Arial, Helvetica, sans-serif !important;
  font-weight: 900;
}

.btn-ghost, .btn-ghost-small, .btn-solid, .btn-solid-small {
  font-family: 'DINPro-Medium', Arial, Helvetica, sans-serif !important;
  font-weight: bold;
}

.flashPromoSmall {
  font-family: 'DINPro-Light', Arial, Helvetica, sans-serif !important;
  font-size: 32px !important;
  font-weight: 300;
  line-height: 2rem;
  Margin-bottom: 16px;
}

.flashPromo {
  font-family: 'DINPro-Black', Arial, Helvetica, sans-serif !important;
  font-size: 40px !important;
  font-weight: 900;
  line-height: 1rem;
  Margin-bottom: 16px;
}

.pricing {
  font-family: 'Roboto', Arial, Helvetica, sans-serif !important;
  font-weight: 700;
  line-height: 2rem;
}

.productInfo {
  font-family: 'Roboto', Arial, Helvetica, sans-serif !important;
  font-size: 16px;
  font-weight: 500;
}

.promo {
  font-family: 'DINPro-Black', Arial, Helvetica, sans-serif !important;
  font-size: 20px !important;
  font-weight: 900;
  line-height: 2rem;
  text-transform: uppercase;
}

.valueCopy {
  font-family: 'DINPro-Medium', Arial, Helvetica, sans-serif !important;
  font-weight: normal !important;
}
