@media screen {
  @font-face {
    font-family: 'DINPro-Light';
    src: url('http://assets.dsg.com/dsg/fonts/din/DINPro-Light.eot');
    src: url('http://assets.dsg.com/dsg/fonts/din/DINPro-Light.eot?#iefix') format('embedded-opentype'),
    url('http://assets.dsg.com/dsg/fonts/din/DINPro-Light.woff2') format('woff2'),
    url('http://assets.dsg.com/dsg/fonts/din/DINPro-Light.woff') format('woff'),
    url('http://assets.dsg.com/dsg/fonts/din/DINPro-Light.ttf') format('truetype'),
    url('http://assets.dsg.com/dsg/fonts/din/DINPro-Light.svg#DINPro-Light') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'DINPro-Medium';
    src: url('http://assets.dsg.com/dsg/fonts/din/DINPro-Medium.eot');
    src: url('http://assets.dsg.com/dsg/fonts/din/DINPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('http://assets.dsg.com/dsg/fonts/din/DINPro-Medium.woff2') format('woff2'),
    url('http://assets.dsg.com/dsg/fonts/din/DINPro-Medium.woff') format('woff'),
    url('http://assets.dsg.com/dsg/fonts/din/DINPro-Medium.ttf') format('truetype'),
    url('http://assets.dsg.com/dsg/fonts/din/DINPro-Medium.svg#DINPro-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'DINPro-Black';
    src: url('http://assets.dsg.com/dsg/fonts/din/DINPro-Black.eot');
    src: url('http://assets.dsg.com/dsg/fonts/din/DINPro-Black.eot?#iefix') format('embedded-opentype'),
    url('http://assets.dsg.com/dsg/fonts/din/DINPro-Black.woff2') format('woff2'),
    url('http://assets.dsg.com/dsg/fonts/din/DINPro-Black.woff') format('woff'),
    url('http://assets.dsg.com/dsg/fonts/din/DINPro-Black.ttf') format('truetype'),
    url('http://assets.dsg.com/dsg/fonts/din/DINPro-Black.svg#DINPro-Black') format('svg');
    font-weight: normal;
    font-style: normal;
  }
}
